body{
    background-color: rgb(173, 58, 240);
}

#head1{
    color: #008000;
    border: 2px solid black;
}

ol{
    color: red;
    font-size:12px;
}

strong{
    color: salmon;
}

button{
    background-color: silver;
    
}

*{
    text-align: center;
}